[user]
	email = joshua-luke.bevan@bark.com
	name = Joshua-Luke Bevan
	signingkey = 9B305EC55EEEDDF80BEDE682467CD8CA7BEFF62E
[alias]
	co = checkout
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
