[user]
	email = joshua-luke@hotmail.co.uk
	name = Joshua-Luke Bevan
	signingkey = DB3C926408C2E0A2E9E5B1D76322C88B7B673B8E
[alias]
	co = checkout
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
